<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome To My DjangoAPP|Home</title>
    <style>
        h2.greetings{
        color:blue;text-align:center;
        }
        h2#login{
        color:green;text-align:center;
        }
         h2{
        color:yellow;text-align:center;
        }
        h2#price{
        color:violet;text-align:center;
        }

    </style>
</head>
<body>
<h1>Hai This My First Django Web Application</h1>
<h2 class="greetings">welcome To All</h2>

<h2 id="login">Enter to the app <a href='/login'>login here</a></h2>
<h2 >If Your are new ..<a href='/register'>register here</a></h2>
<h2 ><a href='/second/ipltable/'>Click here</a>for IPL Table 2023</h2>
<h2 id="price">Calculate the Product Price <a href="/second/getprice/">Click here..</a></h2>
<h3 id="admin">View all the Tables in DB  <a href="/admin">click here</a></h3>
<h3 id="model"><a href="/model/getstudentdetails/">Click here</a> to view the Student Details</h3>
<h3 id="curd"><a href="/curd/employeedetails/">Click here</a> to view the Employee Details</h3>

</body>
</html>