<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product Details</title>
</head>
<body>
<form action="/second/total" autocomplete="off">
  Mobiles: <input type="text" id="mobile" name="mobile" placeholder="Enter the Mobile price"> <br><br>
  Laptop: <input type="text" id="laptop" name="laptop" placeholder="Enter the Laptop price"> <br><br>
  Tablet: <input type="text" id="tablet" name="tablet" placeholder="Enter the Tablet price"> <br><br>
  Keyboard: <input type="text" id="keyboard" name="keyboard" placeholder="Enter the Keyboard price"> <br><br>
    <input type="submit" value="Calculate Total Price">
</form>

</body>
</html>