<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student Details</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/modelapp/table.css' %}">
</head>
<body>
<h1>The August Month Student Joining Details</h1>
<table class="redTable">
    <tr>
        <td>Student Id</td>
        <td>Student Name</td>
        <td>Email Id</td>
        <td>Mobile Number</td>
        <td>Course</td>
        <td>Trainer</td>
        <td>Fees</td>
    </tr>
    <tr>
        {% for s in studentifo %}
        <td>{{s.student_id}}</td>
        <td>{{s.student_name}}</td>
        <td>{{s.email}}</td>
        <td>{{s.mobile_no}}</td>
        <td>{{s.course}}</td>
        <td>{{s.Trainer}}</td>
        <td>{{s.fees}}</td>
    </tr>
    {% endfor %}
</table>
</body>
</html>